<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Donaciones</h6>
                <div class="row bg-light rounded py-3 px-2 align-items-center shadow-sm mb-3">
                    <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                        <p class="mb-1 text-muted fw-semibold">Hoy</p>
                        <h5 class="mb-0 text-primary">{{ fechaHoraActual }}</h5>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <p class="mb-1 text-muted fw-semibold">Total Donado</p>
                        <h5 class="mb-0 text-success">
                            ${{ tDon }} <br />
                            <small class="text-muted">{{ tLetra }}</small>
                        </h5>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-xl-3 col-md-4">
                        <input type="text" class="form-control form-control-sm" placeholder="Buscar..."
                            (keyup)="updateFilter($event)" />
                    </div>
                    <div class="col text-end">
                        <button class="btn btn-sm btn-primary me-2" (click)="descargarExcel()" [disabled]="isLoading">
                            <ng-container *ngIf="!isLoading; else loadingTemplate">
                                <i class="bi bi-send"></i> Descargar Excel
                            </ng-container>
                            <ng-template #loadingTemplate>
                                <span class="spinner-border spinner-border-sm me-1" role="status"
                                    aria-hidden="true"></span>
                                Descargando...
                            </ng-template>
                        </button>
                    </div>
                </div>
                <br>
                <div class="table-responsive">
                    <div *ngIf="rows.length === 0 && !loading" class="text-center my-3">
                        <p><strong>No hay datos para mostrar</strong></p>
                    </div>
                    <ngx-datatable #table class="bootstrap" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
                        *ngIf="rows.length > 0" [footerHeight]="50" [externalSorting]="true" [externalPaging]="true"
                        [rowHeight]="'auto'" [limit]="pageSize" [count]="filteredCount" [offset]="page"
                        (page)="setPage($event)" [loadingIndicator]="loading">
                        <ngx-datatable-column prop="nombre" [headerClass]="'text-center'" [cellClass]="'text-center'"
                            name="Nombre completo">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.nombre_completo}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" prop="rfc"
                            name="RFC">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.rfc}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" prop="curp"
                            name="Curp">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.f_curp}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" prop="cantidad"
                            name="Cantidad">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.cantidad}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="curp" [headerClass]="'text-center'" [cellClass]="'text-center'"
                            prop="estatus" name="Estatus">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                @if (row.estatus == 1) {
                                <span class="badge bg-success">Verificado</span>
                                } @else {
                                <span class="badge bg-danger">No verificado</span>
                                }
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" name="Fecha">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.updatedAt | date: 'dd/MM/yyyy' }}
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>